<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <!-- Utilisation de th:href pour charger le CSS depuis le répertoire /static -->
  <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
<div class="login-container">
  <h2>Connexion</h2>

  <!-- Affichage du message d'erreur en cas d'échec de connexion -->
  <div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
  </div>

  <form th:action="@{/login}" method="post">
    <label for="email">Email :</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" required><br><br>

    <label>Rôle :</label><br>
    <input type="radio" id="admin" name="role" value="admin" required>
    <label for="admin">Admin</label><br>
    <input type="radio" id="enseignant" name="role" value="enseignant" required>
    <label for="enseignant">Enseignant</label><br>
    <input type="radio" id="etudiant" name="role" value="etudiant" required>
    <label for="etudiant">Etudiant</label><br><br>

    <button type="submit">Se connecter</button>
  </form>
</div>
</body>
</html>
