/* Centrage horizontal de la barre de recherche et du bouton */
.search-bar {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement */
    margin-bottom: 15px;
}

/* Champ de recherche */
.search-bar input[type="text"] {
    flex: 1; /* Permet à l'input de prendre un maximum d'espace disponible */
    padding: 8px;
    margin-right: 10px; /* Espace entre le champ et le bouton */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Bouton de recherche */
.search-bar button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

/* Table des étudiants */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0056b3;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Boutons d'actions */
table .btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
}

table .btn-primary {
    background-color: #0056b3;
    color: white;
}

table .btn-primary:hover {
    background-color: #003f7f;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    color: #0056b3;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #e2e6ea;
}

.pagination a.current-page {
    font-weight: bold;
    background-color: #0056b3;
    color: white;
}

.return-home{
    display: inline-block; /* Permet de simuler l'apparence d'un bouton */
    height: 38px; /* Hauteur uniforme avec les boutons */
    padding: 0 12px; /* Espacement interne horizontal */
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    font-size: 14px; /* Taille de police */
    cursor: pointer; /* Curseur en forme de main */
    line-height: 38px; /* Aligne verticalement le texte */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Supprime le soulignement */
    margin-bottom: 20px;
}