body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.message-block {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
}
.message-block h3 {
    margin: 0 0 10px 0;
    color: #333;
}
.message-block p {
    margin: 5px 0;
}
.confirmation-message {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    color: #000000;
    border-radius: 8px;
    animation: fadeOut 8s forwards; /* Animation pour masquer le message */
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
.form-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.form-container h2 {
    margin: 0 0 20px 0;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
}
button:hover {
    background-color: #45a049;
}
.actions {
    margin-top: 30px;
    text-align: center;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
.pagination a:hover {
    background-color: #ddd;
}

.return-home{
    display: inline-block; /* Permet de simuler l'apparence d'un bouton */
    height: 38px; /* Hauteur uniforme avec les boutons */
    padding: 0 12px; /* Espacement interne horizontal */
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    font-size: 14px; /* Taille de police */
    cursor: pointer; /* Curseur en forme de main */
    line-height: 38px; /* Aligne verticalement le texte */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Supprime le soulignement */
    margin-bottom: 20px;
    font-family: Arial;
}